*.*temp
*.pyc
build/
.DS_Store
tests/.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
builds
fastlane/README.md
fastlane/report.xml
